body{
    margin: 0;
}

body > *{
}

header{
    padding: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 6em;
    /* background: rgba(168, 0, 168); */
}

.subHeading{
    font-size: 0.3em;
}

main{
    /* background: rgb(87, 0, 168); */
    padding: 1px;
}

aside{
    padding: 1px;
}

footer{
    padding: 20px;
    /* margin-top: 20px; */
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    /* background: rgb(3, 0, 168); */
}

.wrapper{
    background: tomato;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
}

.wrapper > *{
    flex: 1 100%;
    color: white;
}

.ottoBtn{
    margin-left: auto;
    margin-right: auto;
    border: 0;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background: transparent;
}

.aside1{
    /* background: rgb(0, 143, 168); */
    
}

.aside2{
    /* background: rgb(168, 0, 78); */
}

.navMain{
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
}

#skillBox{
    margin-top: 20px;
    padding: 10px;
    background: white;
    color: black;
    font-weight: bold;
}

#textBox{
    margin-top: 20px;
    padding: 10px;
    background: white;
    color: black;
    font-weight: bold;
}

.linkimage:hover
{
    background: white;
    text-decoration:none
}

.linkimage{
    margin: 2px;
}

#colorNav{
    padding-right: 10px; 
}

.buttonBasic{
    border: 0;
    width: 50px;
    height: 50px;
    clear: right;
    float: right;
    position: relative;
  }
  
  .buttonStripes{
    background-image: url("stripes.png");
  }

  .buttonTomato{
      background: #ff6347;
  }

  .buttonGold{
      background: gold;
  }

  .buttonGreen{
      background: #90ee90;
  }

  .buttonBlue{
      background: #00bfff;
  }

  .buttonPink{
      background: hotpink;
  }

  .buttonWhite{
      background: white;
  }

@media all and (min-width: 900px) {
    .main { order: 2; flex: 1 0px;}
    .aside1 { order: 1; flex: 1}
    .aside2 { order: 3; flex: 1}
    .footer {order: 4;}
    /* .mid { flex: 1 1 20%; } */
}

@media all and (max-width: 899px){
    .buttonBasic{
        clear: none;
        float: none;
    }
    #colorNav{
        text-align: center;
    }
}
